<!--Categories-->
<div class="container-fluid form-control">
    <div class="container d-flex">
        <div class="item">
            <a (click)="categorysearch('')">
                <img class=" mt-4 mb-1 w-50 " src="https://i.postimg.cc/wvvYSnfY/allproduct.jpg" alt="">
                <h6 class="">All Products</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="categorysearch('1')">
                <img class=" mt-5 mb-1 w-50" src="https://i.postimg.cc/tJDjwpyb/flowerplants.jpg" alt="">
                <h6>Flowering Plants</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="categorysearch('2')">
                <img class=" mt-5 mb-1 w-50" src="https://i.postimg.cc/MpVqMvvG/trees.jpg" alt="">
                <h6>Trees</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="categorysearch('3')">
                <img class=" mt-5 mb-1 w-50" src="https://i.postimg.cc/fThN4MHn/climbers.jpg" alt="">
                <h6>Climbers</h6>
            </a>
        </div>
    </div>
</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let p of categoryList | searchFilter:'':'productName'" >
                <div class="card h-100 ">
                    <!-- Product image-->
                    <img class="card-img-top" style="height:230px ;" src="{{p.productImg}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{p.productName}}</h5>
                            <!-- Product price-->
                            {{p.price}} RS
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-success mt-auto" href="products/view-product/{{p.id}}">View options</a></div>
                    </div>
                </div>
            </div>
            <!--start-->
            
            <!--end-->
        </div>
    </div>
</section>
